<section class="signup">
<div class="container">
  <div class="row">
    <div id="well" class="col-md-7">
      <h1>Connecting athletics</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bona autem corporis huic sunt, quod posterius posui, similiora. Et ille ridens: Video, inquit, quid agas; Si quae forte-possumus. Duo Reges: constructio interrete. Non risu potius quam oratione eiciendum? Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Videsne, ut haec concinant?</p>
    </div>
    <div class="col-md-5">
      <%= render "account/register_form" %>
    </div>
  </div>
</div>
</section>

<section class="marketing">
<div class="container">

  <div class="row">
    <div class="col-md-3">
      <img src="/assets/staff.png" />
      <h3 class="marketing-design">Easily manage your team</h3>
      <p class="marketing-design">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bona autem corporis huic sunt, quod posterius posui, similiora. Et ille ridens: Video, inquit, quid agas; Si quae forte-possumus. Duo Reges: constructio interrete. Non risu potius quam oratione eiciendum? Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Videsne, ut haec concinant?</p>
    </div> 
    <div class="col-md-3">
      <img src="/assets/athlete.png" />
      <h3 class="marketing-design">Updated Sports Data</h3>
      <p class="marketing-design">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bona autem corporis huic sunt, quod posterius posui, similiora. Et ille ridens: Video, inquit, quid agas; Si quae forte-possumus. Duo Reges: constructio interrete. Non risu potius quam oratione eiciendum? Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Videsne, ut haec concinant?</p>
    </div> 
    <div class="col-md-3">
      <img src="/assets/fan1.png" />
      <h3 class="marketing-design">Connect with your sports</h3>
      <p class="marketing-design">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bona autem corporis huic sunt, quod posterius posui, similiora. Et ille ridens: Video, inquit, quid agas; Si quae forte-possumus. Duo Reges: constructio interrete. Non risu potius quam oratione eiciendum? Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Videsne, ut haec concinant?</p>
    </div> 
    <div class="col-md-3">
      <img src="/assets/Calendar_Icon.png" />
      <h3 class="marketing-design">Sync your sports calendar</h3>
      <p class="marketing-design">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bona autem corporis huic sunt, quod posterius posui, similiora. Et ille ridens: Video, inquit, quid agas; Si quae forte-possumus. Duo Reges: constructio interrete. Non risu potius quam oratione eiciendum? Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Videsne, ut haec concinant?</p>
    </div> 

  </div>
</div>
</section>

<section class="middle-content">
<div class="container">

  <div class="row">

     <div class="Sample-circle">
      <img class="circle-a" src="/assets/Circle-A.png" />
    </div>

    <div class="col-md-12">
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bona autem corporis huic sunt, quod posterius posui, similiora. Et ille ridens: Video, inquit, quid agas; Si quae forte-possumus. Duo Reges: constructio interrete. Non risu potius quam oratione eiciendum? Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Videsne, ut haec concinant?
      </h4>
    </div>
  </div>


</div>
</section>

<section class="marketing-2">
<div class="container">

  <div class="row">
    <div class="col-md-6">
      <img src="/assets/staff.png" />
      <!-- <h3 class="marketing-design">Easily manage your team</h3> -->
      <p class="marketing-design">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bona autem corporis huic sunt, quod posterius posui, similiora. Et ille ridens: Video, inquit, quid agas; Si quae forte-possumus. Duo Reges: constructio interrete. Non risu potius quam oratione eiciendum? Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Videsne, ut haec concinant?</p>
    </div>

    <div class="col-md-6">
      <img src="/assets/athlete.png" />
      <!-- <h3 class="marketing-design">Updated Sports Data</h3> -->
      <p class="marketing-design">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bona autem corporis huic sunt, quod posterius posui, similiora. Et ille ridens: Video, inquit, quid agas; Si quae forte-possumus. Duo Reges: constructio interrete. Non risu potius quam oratione eiciendum? Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Videsne, ut haec concinant?</p>
    </div>    
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-6">
      <img src="/assets/fan1.png" />
      <!-- <h3 class="marketing-design">Connect with your sports</h3> -->
      <p class="marketing-design">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bona autem corporis huic sunt, quod posterius posui, similiora. Et ille ridens: Video, inquit, quid agas; Si quae forte-possumus. Duo Reges: constructio interrete. Non risu potius quam oratione eiciendum? Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Videsne, ut haec concinant?</p>
    </div> 

    <div class="col-md-6">
      <img src="/assets/Calendar_Icon.png" />
      <!-- <h3 class="marketing-design">Updated Sports Data</h3> -->
      <p class="marketing-design">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bona autem corporis huic sunt, quod posterius posui, similiora. Et ille ridens: Video, inquit, quid agas; Si quae forte-possumus. Duo Reges: constructio interrete. Non risu potius quam oratione eiciendum? Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Videsne, ut haec concinant?</p>
    </div>    
  </div>
</div>


</section>

<section class="Contact-Us">
<div class="container">
  <h2 style="text-align:center; padding: 0px 0px 15px 0px;" > Want to know more about how Sample can help you?</h2>
  <div class="row">
    <div class="col-md-5">
      <%= render "account/contactus_form" %>
    </div>
    
    <div class="col-md-7">
      <div class="row">
        <div class="col-xs-7" id="map-canvas">
          <img class="gmap img-responsive" src="" />
        </div>

        <div class="col-xs-5" id="location">
          <h4 class="gmap-info"> info@Sample.com</h4>
          <h4 class="gmap-info"> 1st Ave</h4>
          <h4 class="gmap-info"> Suite 111 </h4>
          <h4 class="gmap-info"> Lehigh Valley, PA 10010</h4>
          <h4 class="gmap-info"> 555 - 555 - 5555</h4>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
