<section class="signup">
<div class="container">
  <div class="row">
    <div id="well" class="col-md-7">
      <h1>Connecting athletics</h1>
      <p>Manage your sports life all from one platform. Communicate with your team, update your sports information, share your stats, sync your sports calendar, and add to your athletic network on a social platform for sports.</p>
    </div>
    <div class="col-md-5">
      <%= render "account/register_form" %>
    </div>
  </div>
</div>
</section>

<section class="marketing">
<div class="container">

  <div class="row">
    <div class="col-md-3">
      <img src="/assets/staff.png" />
      <h3 class="marketing-design">Easily manage your team</h3>
      <p class="marketing-design">If you manage, run, coach, or lead any type of team Sample was made for you!  Manage your roster(s) from one location and say goodbye to emails, call lists and more.</p>
    </div> 
    <div class="col-md-3">
      <img src="/assets/athlete.png" />
      <h3 class="marketing-design">Updated Sports Data</h3>
      <p class="marketing-design">Tired of never having the correct sports data online for scouts?  Stop using two or more sites to keep your sports data info.  Sample allows you to keep all your sports data on one profile.</p>
    </div> 
    <div class="col-md-3">
      <img src="/assets/fan1.png" />
      <h3 class="marketing-design">Connect with your sports</h3>
      <p class="marketing-design">With the majority of sports being played across the country and worldwide it's tough to stay updated.  Connect with your sports network and never miss an update again.</p>
    </div> 
    <div class="col-md-3">
      <img src="/assets/Calendar_Icon.png" />
      <h3 class="marketing-design">Sync your sports calendar</h3>
      <p class="marketing-design">Sample allows you to update your games & practices form one platform.  it also allows you to manage multiple sports, teams and more on one calendar.</p>
    </div> 

  </div>
</div>
</section>

<section class="middle-content">
<div class="container">

  <div class="row">

     <div class="Sample-circle">
      <img class="circle-a" src="/assets/Circle-A.png" />
    </div>

    <div class="col-md-12">
      <h4>Sample offers something other sites don't.  That is one platform for all your sports needs.  Whether you are looking to make it to the next level, a manager trying to update statistics for the weekend tournament, a coach looking to develop their players, or a parent trying to organize their sports life, Sample is the solution you've been looking for.
      </h4>
    </div>
  </div>


</div>
</section>

<section class="marketing-2">
<div class="container">

  <div class="row">
    <div class="col-md-6">
      <img src="/assets/staff.png" />
      <!-- <h3 class="marketing-design">Easily manage your team</h3> -->
      <p class="marketing-design">Using the Team Page Feature allows Coaches, Scouts and Administrators one platform by giving them a communication tool with their athletes and tools to help them manage their sports</p>
    </div>

    <div class="col-md-6">
      <img src="/assets/athlete.png" />
      <!-- <h3 class="marketing-design">Updated Sports Data</h3> -->
      <p class="marketing-design">Sports data is critical to today's athlete.  Share your stats and sports info like height, weight, bench and more on your own sports profile.  Let Sample help you get to the next level.</p>
    </div>    
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-6">
      <img src="/assets/fan1.png" />
      <!-- <h3 class="marketing-design">Connect with your sports</h3> -->
      <p class="marketing-design">Followig your favorite teams, friends and family members is not a hassle anymore.  Connect with your firends and family within your sports network and never stay out of touch.</p>
    </div> 

    <div class="col-md-6">
      <img src="/assets/Calendar_Icon.png" />
      <!-- <h3 class="marketing-design">Updated Sports Data</h3> -->
      <p class="marketing-design">One calendar for all of your teams, sports, practices, games and events all managed from the same place.  Gone are the days of call lists and unknown start times.</p>
    </div>    
  </div>
</div>


</section>

<section class="Contact-Us">
<div class="container">
  <h2 style="text-align:center; padding: 0px 0px 15px 0px;" > Want to know more about how Sample can help you?</h2>
  <div class="row">
    <div class="col-md-5">
      <%= render "account/contactus_form" %>
    </div>
    
    <div class="col-md-7">
      <div class="row">
        <div class="col-xs-7" id="map-canvas">
          <img class="gmap img-responsive" src="" />
        </div>

        <div class="col-xs-5" id="location">
          <h4 class="gmap-info"> info@Sample.com</h4>
          <h4 class="gmap-info"> 1st Ave</h4>
          <h4 class="gmap-info"> Suite 111 </h4>
          <h4 class="gmap-info"> Lehigh Valley, PA 10010</h4>
          <h4 class="gmap-info"> 555 - 555 - 5555</h4>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
